/* Root Color Variables for Light and Dark Mode */
:root {
  --background-light: #ffffff;
  --background-dark: #0a0a0a;
  --foreground-light: #171717;
  --foreground-dark: #ffff;
  --highlight-color: #ffff; /* Golden color */
}

/* Apply Dark Mode Colors for Dark Mode Preferences */
@media (prefers-color-scheme: dark) {
  :root {
    --background-light: #ffffff;
    --foreground-light: #ededed;
  }
}

/* Basic Reset and Box-Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Font Import */
@font-face {
  font-family: 'Dirtyline36Daysoftype2022';
  src: url('/fonts/Dirtyline36Daysoftype2022-Reg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Syne';
  src: url('/fonts/Syne.ttf') format('truetype');
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'Charrington';
  src: url('/fonts/Charbold.ttf') format('truetype');
  font-weight: 400; /* Regular */
  font-style: normal;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background-light);
  color: #0000;
  transition: background-color 0.5s ease, color 0.5s ease;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Dark Mode Class for Manual Toggling */
.dark-mode {
  background-color: var(--background-dark);
  color: var(--foreground-dark);
}

/* Anchor Tag Reset */
a {
  color: inherit;
  text-decoration: none;
}
 


/* Home Page Styles */
.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease;
}


/*Cursor Animation */



.cursor-canvas {
  position: absolute; /* Stays fixed in the viewport */
  top: 0;
  left: 0;
  pointer-events: none; /* Ensures the canvas does not block user interactions */
  z-index: 9999; /* Ensures the canvas is above other content */
}

 @media(max-width:764px) {
  .cursor-canvas{
    position:fixed;
  }
 }
 